body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, select, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 19px;
}

.clear {
    clear: both;
}

#zyylord {
    width: 1000px;
    margin: 0 auto;
    font-family: microsoft yahei,arial;
}

#header .logo {
    float: left;
}

#header .mark {
    margin-left: 150px;
    margin-top: 25px;
    float: left;
}

#header .code {
    float: right;
}

#header .code_text {
    width: 88px;
    float: left;
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
    margin-top: 15px;
}

#header .code_pic {
    width: 60px;
    float: right;
    margin-top: 5px;
}

#tablemenus {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

    #tablemenus td {
        border: solid 1px lavender;
        text-align: center;
        padding: 3px;
    }

    #tablemenus a {
        color: #1c5f82;
        text-decoration: none;
    }

        #tablemenus a:hover {
            color: red;
        }


#main {
    margin-top: 10px;
}

.main_left {
    width: 635px;
    float: left;
}

    .main_left b {
        font-weight: normal;
        color: #ff8369;
    }

    .main_left input {
        color: #9f9f9f;
    }

.main_right {
    width: 331px;
    float: right;
    margin-top: 0px;
}

    .main_right p {
        float: left;
        font-family: microsoft yahei,arial;
        font-size: 15px;
        color: #484848;
        margin-top: 20px;
    }


.links {
    margin-top: 30px;
    font-size: 14px;
}

    .links ul {
        list-style: none;
    }

        .links ul li {
            float: left;
            color: #484848;
            margin: 0 5px;
        }

            .links ul li a {
                color: #a0a0a0;
                float: left;
                text-decoration: none;
            }

                .links ul li a:hover {
                    color: red;
                }

#footer {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: dashed 1px gray;
    text-align: center;
    color: #484848;
}

    #footer a {
        color: #484848;
        text-decoration: none;
        font-size: 14px;
    }

        #footer a:hover {
            color: red;
        }

#service {
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 15px;
    border: solid 1px lightgray;
    margin-bottom: 15px;
}

.location {
    font-size: 14px;
    padding: 3px;
}

    .location a {
        text-decoration: none;
        color: blue;
    }

        .location a:hover {
            color: red;
        }

#tmessage {
    width: 80%;
    text-align: center;
    border: solid 1px gray;
    margin: 30px auto;
}

    #tmessage th {
        background-color: cornflowerblue;
        color: yellow;
        font-weight: normal;
        text-align: left;
    }

    #tmessage td {
        padding: 10px;
    }

#btnBack {
    width: 75px;
    padding: 5px;
    color: black;
}


ul {
    list-style: none; /*去除项列表前面的圆点*/
}

#nav {
    height: 36px;
    background: url(http://www.dieclock.com/images/nav_bg.gif) repeat-x;
}

    #nav ul {
        height: 36px;
        float: left;
        margin: 0px;
        padding-left: 5px;
    }

        #nav ul li {
            margin-top: 1px;
            float: left;
            width: 114px;
            font-family: "微软雅黑";
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            line-height: 34px;
        }

            #nav ul li a {
                color: #fff;
                display: block;
                text-decoration: none;
            }

                #nav ul li a:hover {
                    font-weight: bold;
                    background: #fff;
                    color: #AC1115;
                }

.clear {
    clear: both;
}

.left {
    float: left;
}

.zyy_box {
    margin-bottom: 10px;
}

    .zyy_box .title {
        background-color: rgb(1,170,238) !important;
        color: white;
        font-size: 14px;
        font-family: microsoft yahei,arial;
        padding: 3px;
        padding-left: 7px;
    }

    .zyy_box ul {
        padding: 0px;
        margin: 0px;
        text-decoration: none;
        list-style: none;
    }

        .zyy_box ul li {
            text-decoration: none;
            padding: 2px;
            line-height: 1.5em;
            margin: 0px;
        }

            .zyy_box ul li a {
                color: gray;
                font-size: 14px;
                font-family: microsoft yahei,arial;
                text-decoration: none;
            }

                .zyy_box ul li a:hover {
                    color: red !important;
                }

.tc {
    text-align: center;
}
